<div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <h3 class="mb-4">Registrar Pedido</h3>
            </div>
            <div *ngIf="existCliente == true" class="col-lg-2 col-md-2">
                <button mat-raised-button color="primary">Crear Cliente</button>
            </div>
        </div>


        <form autocomplete="off" [formGroup]="form">
            <div>
                <h5>Cliente</h5>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <!-- <mat-label>DNI</mat-label> -->
                            <input type="text" matInput placeholder="70976447" formControlName="dni" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filterCliente | async" [value]="option.dni">
                                    {{ option.dni }}
                                </mat-option>
                            </mat-autocomplete>
                            <small *ngIf="clienteNotFound" class="text-danger"> El dni no existe</small>
                        </mat-form-field>
                        <!-- <small *ngIf="dniNoValido" class="text-danger">El campo es obligatorio</small> -->
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput readonly formControlName="nombreCliente">
                        </mat-form-field>
                        <small *ngIf="nombreClienteNoValido" class="text-danger">El campo es obligatorio</small>
                    </div>
                </div>
                <hr>
                <h5>Pedido</h5>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Dirección</mat-label>
                            <input type="text" matInput placeholder="10" formControlName="direccion">
                        </mat-form-field>
                        <small *ngIf="direccionNoValido" class="text-danger">El campo es obligatorio</small>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Monto</mat-label>
                            <span matPrefix>S/ &nbsp;</span>
                            <input type="number" matInput placeholder="10" formControlName="monto" min="1">
                        </mat-form-field>
                        <small *ngIf="montoNoValido" class="text-danger">El campo es obligatorio y tiene que ser mayor a 1</small>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha de entrega</mat-label>
                            <input matInput [matDatepicker]="dp" formControlName="fechaEntrega">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                        <small *ngIf="fechaEntregaNoValido" class="text-danger">El campo es obligatorio</small>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput formControlName="descripcion"></textarea>
                        </mat-form-field>
                        <small *ngIf="descripcionEntregaNoValido" class="text-danger">El campo es obligatorio</small>
                    </div>

                </div>

            </div>
        </form>
        <div class="text-center">
            <button mat-raised-button color="primary" (click)="crearPedido()">Crear Pedido</button>
            <button mat-raised-button color="warn" (click)="limpiarFormulario()" class="ml-2">Limpiar</button>
        </div>
    </div>

</div>